{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h3>This website built with Django</h3>
<br>
<h5><strong>Primary app:<br></strong>The Fitness app - a CRUD app which automatically plots your progress
    for various exercises using Plotly. Requires a basic account to save your workout data.</h5>
<h5><strong>Minor apps:
<br></strong>
    A simple blog app, and a bioinformatics tab containing various scripts I created
    to solve <a href=">http://rosalind.info/about">Rosalind</a> bioinformatics challenges.</h5>
{% endblock content %}